.footer_main_box{
    /* border: 1px solid black; */
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 75%;
    margin: auto;
}
.footer_display{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid red; */
    font-size: 11px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.footer_display>div>div:hover{
    text-decoration: underline;
    cursor: pointer;
}
.english_cookies_setting{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 75%;
    margin: auto;
    font-size: 11px;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}
.footer_bottom{
    width: 75%;
    margin: auto;
}
.footer_bottom>div{
    margin-top:150px ;
    font-size: 11px;
    margin-bottom: 100px;
}